EPICURE_URL=https://www.myepicure.com/DesktopModules/AddressBookEOS/API/CustomerRecords/GetCustomerRecords?locale=en-CA
EPICURE_COOKIE=
EPICURE_TOKEN=
BASIC_AUTH=
ZOHO_API_AUTH_TOKEN=
INSIGHTLY_API_KEY=

