.row
  .span12
    .row.item
      .span3
        .item-title
          %h3 Strategy
      .span9
        .item-content
          %p
            We will discuss your objectives and take an iterative approach
            to solving your needs, ensuring the delivery of a product
            that meets or exceeds your expectations.
          %p
            Following Agile methodologies with frequent deliveries and
            progress review will ensure that you have no unpleasant surprises
            at the end of a long iteration.

    .row.item
      .span3
        .item-title
          %h3 Quality
      .span9
        .item-content
          %p
            First and foremost, you get a commitment to quality. Code is delivered
            with comprehensive automated tests and utmost care is
            given to using best-practices, appropriate design patterns
            and documentation. I take pride in what I produce and do not
            take shortcuts when it comes to quality.

    .row.item
      .span3
        .item-title
          %h3 User Experience
      .span9
        .item-content
          %p
            I am a firm believer in providing users with the smoothest,
            most painless experience. When users can't figure something out,
            it is usually not their fault, it is the interface's fault.
          %p
            For this reason, I will help you to provide the best UX possible.
            Over ten years in web development allows me to have a good feel for
            interaction design and I will work with you and your user testing
            to hone in on the best results possible.


