- content_for(:title) { "About Us" }

.row
  .span12.content
    .contentblock
      %h1 About Us
    .row
      .span6.offset1
        .contentblock

          %p
            Vancouver, BC based company founded in September 2012 by Ruy Diaz, a Software Developer with over
            10 years professional experience, developing software for the web.

          %p
            With experience ranging from large multinational corporations such as
            Ericsson Telecom and working with the largest cell phone carrier in Mexico,
            to high traffic websites like
            = link_to "Citymax.com", "http://citymax.com"
            and start-ups like
            = link_to "Orbs.com", "http://orbs.com"

          %p
            Ruy has has also worked on pet projects like
            = link_to "Splitsee.com", "http://splitsee.com"
            and
            = link_to "You Can Get Me This", "http://youcangetmethis.com"

          %p
            Some of the technologies that Ruy has worked with include:

            %ul
              %li Ruby on Rails
              %li
                Javascript
                %ul
                  %li jQuery
                  %li Mootools
                  %li Prototype
              %li HTML5
              %li CSS3
              %li
                Databases
                %ul
                  %li MySQL
                  %li PostgresQL
                  %li MongoDB
              %li
                TDD
                %ul
                  %li RSpec
                  %li Cucumber
                  %li Jasmine
              %li Heroku
              %li Flash (Flex 4)
              %li Java
              %li Objective-C
