- content_for(:title) { "Contact" }
.row
  .span12.content
    .contentblock
      %h1 Contact
    .row
      .span6
        .contentsection
          %p
            = link_to "r.diaz@lamnidaeconsulting.com", "mailto:r.diaz@lamnidaeconsulting.com"
