.row
  .span12
    %section#home
      %h1 Killer web development.
      .content
        = render "what"
    %section#how
      %h2 HOW
      .content
        = render 'how'
    %section#about
      %h2 WHO
      .content
        = render 'about_us'
    %section#contact
      %h2 PING
      .content
        = render 'contact_us'
