.row
  .span12
    %section.switcher-tab#home
      %h1 Killer web development.
      .content
        = render "what"
    %section.switcher-tab.hide#how
      %h2 HOW
      .content
        = render 'how'
    %section.switcher-tab.hide#about
      %h2 WHO
      .content
        = render 'about_us'
    %section.switcher-tab.hide#contact
      %h2 PING
      .content
        = render 'contact_us'
