.row
  .span12
    %section.switcher-tab#home
      = render "what"
    %section.switcher-tab.hide#how
      %h2.cardtitle HOW
      .content
        = render 'how'
    %section.switcher-tab.hide#who
      %h2.cardtitle WHO
      .content
        = render 'who'
    %section.switcher-tab.hide#ping
      %h2.cardtitle PING
      .content
        = render 'ping'
