.banner {
  background: image-url('logo.png') center center no-repeat;
  height: 360px;

}

$logo: 'logo_260x124.png';
@media  (max-width: 320px) {
  .banner {
    background: image-url($logo) center center no-repeat;
    height: image-height($logo);
  }

}
