$logo: 'logo_260x124.png';
$logo-large: 'logo.png';
.banner {
  background: image-url($logo) center center no-repeat;
  height: 260px;

  @media  (min-width: 680px) {
    background: image-url($logo-large) center center no-repeat;
    height: 306px;
  }
}

