.cardtitle {
  font-size: 180px;
  font-weight: 700;
  color: #F5F5F5;
  position: absolute;
  top: 30px;
  z-index: -1;
}

@media  (min-width: 680px) {
  .cardtitle {
    font-size: 300px;
    top: 60px;
  }
}
