@import "bootstrap/variables";

.client {
  margin-bottom: 20px;

  &-quote {
    color: #666;
    font-size: 12px;
    & > p {
      font-style: italic;
      font-size: 12px;
    }
  }

  &-name {
    margin-bottom: 5px;
    margin-top: 0;
  }

  &-tagline {
    font-style: italic;
  }

  &-logo {
    margin-bottom: 10px;
    max-width: 212px;
    max-width: 100%;
    max-height: 30px;
    float: right;

    @media (min-width: $screen-sm-min) {
      float: none;
    }
  }
}

