.client {
  margin-bottom: 20px;

  blockquote {
    color: #666;
    font-size: 12px;
    & > p {
      font-style: italic;
      font-size: 12px;
    }
  }

  &-name {
    margin-bottom: 5px;
  }

  &-tagline {
    font-style: italic;
  }

  &-logo {
    margin-bottom: 10px;
    max-width: 212px;
  }
}

