.client {
  margin-bottom: 20px;

  blockquote {
    color: #666;
    font-size: 12px;
    & > p {
      font-style: italic;
      font-size: 12px;
    }
  }
}

.client-name {
  margin-bottom: 5px;
}

.client-tagline {
  font-style: italic;
}

.client-logo {
  margin-bottom: 10px;
}
