.epicure {
  > caption {
    font-weight: bold;
    font-size: 1.5;
  }
  width: 100%;

  > tbody > tr {
    &.is-updated {
      background-color: #d4ce90;
      > td {
        &.is-different {
          background-color: #cfc55b;
        }
      }
    }
    &.is-new {
      background-color: #a1d490;
    }
  }

  &.is-diff-only {
    .is-up-to-date {
      display: none;
    }
  }
}
