- ours = contact.send(field)
- theirs = existing_contact.try(field)
- is_diff = existing_contact && ours.present? && theirs.present? && ours.downcase != theirs.downcase
%td{title: existing_contact.try(field) || '(empty)', class: is_diff ? 'is-different' : ''}= contact.send(field)
