= form_for :contact, url: update_epicure_path do |f|
  %table.epicure.table
    %caption Epicure
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th Phone
        %th Street
        %th City
        %th Province
        %th Country
        %th Postal Code
        %th
          %label
            All
            %input#selectAll{type: :checkbox}

    %tbody
      - @epicure_customers.each do |contact|
        - existing_contact = @insightly_contacts.find {|c| c.email == contact.email}
        - is_new = existing_contact.blank?
        - is_updated = existing_contact && (existing_contact != contact)
        %tr{class: (is_new ? 'is-new' :  ( is_updated ? 'is-updated' : ''))}
          - %i{first_name last_name email phone street city province country postal_code}.each do |field|
            = render partial: 'row', locals: {field: field, contact: contact, existing_contact: existing_contact}
          %td
            %input{type: :checkbox, name: 'contact[]', value: contact.email, checked: is_new }
  %input{type: :submit, value: 'Submit'}

%table.epicure.table.table-striped
  %caption Insightly
  %tbody
    - @insightly_contacts.each do |contact|
      %tr
        - Insightly::Contact::ATTRIBUTES.each do |attribute|
          %td= contact.send(attribute)

- content_for :javascript do
  :javascript
    $(function(){
      $('#selectAll').on('change', function(){
        $(this).
          parents('form').
          find('tbody input[type=checkbox').
          prop('checked', $(this).prop('checked'))
      })
    });

