= form_for :contact, url: update_epicure_path do |f|
  .btn-group{data: {toggle: 'buttons-radio'}}
    %button#showDiff.btn.btn-primary.active{type: 'button'} Show different
    %button#showAll.btn.btn-primary{type: 'button'} Show all
  %table#epicure.epicure.table.is-diff-only
    %caption Epicure
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th Phone
        %th Street
        %th City
        %th Province
        %th Country
        %th Postal Code
        %th
          %label
            All
            %input#selectAll{type: :checkbox}

    %tbody
      - @epicure_customers.each do |contact|
        - existing_contact = @insightly_contacts.find {|c| c.email == contact.email}
        - is_new = existing_contact.blank?
        - is_updated = existing_contact && (existing_contact != contact)
        %tr{class: (is_new ? 'is-new' :  ( is_updated ? 'is-updated' : 'is-up-to-date'))}
          - %i{first_name last_name email phone street city province country postal_code}.each do |field|
            = render partial: 'row', locals: {field: field, contact: contact, existing_contact: existing_contact}
          %td
            %input{type: :checkbox, name: 'contact[]', value: contact.email, checked: is_new }
  #epicureHelp.hidden
    %ol
      %li Log in to Epicure
      %li
        Go to
        %a{href: 'https://www.myepicure.com/en-ca/ordering.aspx'} Orders
      %li Go to Contacts
      %li Right click and "Inspect"
      %li Go to Network
      %li Click on XHR
      %li On the contact form, click "Filter" (or whatever)
      %li In the Network output, find the GetCustomerRecords entry, right click it and select "Copy Request Headers"
  %fieldset
    %label
      Epicure Request Headers
      %i#epicureHelpTrigger.icon-question-sign
    %textarea.input-block-level{name: :epicure_headers}= params[:epicure_headers]
  %fieldset
    %input{type: :submit, value: 'Submit'}

%table.epicure.table.table-striped
  %caption Insightly
  %tbody
    - @insightly_contacts.each do |contact|
      %tr
        - Insightly::Contact::ATTRIBUTES.each do |attribute|
          %td= contact.send(attribute)

- content_for :javascript do
  :javascript
    $(function(){
      $("data[toggle='buttons-radio']").button();
      $('#selectAll').on('change', function(){
        $(this).
          parents('form').
          find('tbody input[type=checkbox').
          prop('checked', $(this).prop('checked'))
      });

      $('#epicureHelpTrigger').popover({
        html: true,
        content: $('#epicureHelp').html(),
        title: 'Instructions'
      });

      $('#showAll').click(function(){
        $('#epicure').removeClass('is-diff-only');
      });

      $('#showDiff').click(function(){
        $('#epicure').addClass('is-diff-only');
      });
    });

