%nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand
        .logo
      %ul.nav
        %li.active= link_to 'What', '#home', class: 'switcher'
        %li= link_to 'How', '#how', class: 'switcher'
        %li= link_to "Who", '#who', class: 'switcher'
        %li= link_to "Ping", '#ping', class: 'switcher'

