%nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand
        .logo
      .nav-collapse.collapse
        %ul.nav
          %li.active= link_to 'What', '#home', class: 'switcher'
          %li= link_to 'How', '#how', class: 'switcher'
          %li= link_to "Who", '#who', class: 'switcher'
          %li= link_to "Ping", '#ping', class: 'switcher'

